@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins !important;
}

.fundo-home {
    background-image: url("../images/fundo.gif");
    background-size: cover;
    height: 600px;
}

.descricao-logo {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    margin-top: 5vh;
}

.descricao {
    width: 30vw;
    margin: auto;
}

.descricao h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: left;
    line-height: 6vh;
}

.descricao h1 span {
    color: #468ec9;
    font-weight: bold;
}

.logo-home {
    margin: auto;
}

.logo-home img {
    width: 360px;
}

.logo-img {
    height: 90px;
    padding: 1.5vw;
}

.transition-logo {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.transition-logo-sticky {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.transition-logo.visible {
    transform: translateX(0);
}

.transition-logo-sticky.visible-sticky {
    transform: translateX(0);
}

.navbar {
    z-index: 2;
    transition: 2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffffe0;
    transition: 2s;
}

.nav-item {
    padding: 1.2vw !important;
}

.nav-link {
    color: #000000a0;
    font-size: 1rem;
    padding: 10px !important;
}

.nav-link:hover {
    color: #000;
    transition: 100ms;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 25px;
}

main.cards {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #434343;
    font-size: 20px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #E0FFFF;
    padding: 1vw 1vw;
    border-radius: 8px;
    border: #8EE4F1;
}

main.cards section.card .icon {
    width: 250px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
}

main.cards section.card {
    box-shadow: 5px 5px 5px #27b3de3e;
}

.quemsomos {
    background: #fff;
    padding: 10px;
    margin-top: 20px;
}

.cardquem {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 calc(20% - 10px); 
    margin-bottom: 20px;
    box-sizing: border-box;
}

.quemsomos-container {
    position: relative;
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s, border-radius 0.4s;
    margin: 20px;
    padding: 15px;
    text-align: center;
    background-color: transparent;
}

.quemsomos-container:hover {
    width: 340px;
    height: 440px;
    border-radius: 4px;
}

.img-quemsomos-container {
    width: 170px;
    height: 170px;
    min-height: 170px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.img-quemsomos-container img {
    width: 100%;
    max-width: 100%;
}

.full-name {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.role,
.description {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
}

.role {
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 2px solid #5BC7E4;
}

.social-container {
    position: absolute;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
}

.social-container button {
    border: none;
    outline: none;
    color: #eee;
    background: none;
    width: 20px;
    height: 40px;
    font-size: 1.7rem;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.4s;
    margin: 5px;
}

.quemsomos-container:hover .social-container button {
    transform: translateX(60px);
    transition-delay: 0.3s;
}

.quemsomos-container:hover .social-container button:nth-child(2) {
    transition-delay: 0.5s;
}

.quemsomos-container:hover .social-container button:nth-child(3) {
    transition-delay: 0.7s;
}

.nossos-projetos {
    background: #8EE4F1;
    align-items: center;
    justify-content: center;
}

.parceiros {
    height: 55vh;
}

.parceiros h1 {
    margin-bottom: 30px;
}

.parceiros-img {
    display: flex; 
    justify-content: space-around;
}

.main-login{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 3rem;
    color: #000;
}
.left-login-img{
    width: 500px;
    object-fit: cover;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login h1{
  color: #232224;
  position: top;
}
.card-login{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    background: #e9ffff;
    border-radius: 20px;
}
.card-login > h2{
    color: rgb(66, 158, 183);
    margin: 0;
}
.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30vw;
}
.textfield > input{
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    color: #4682B4;
    font-size: 12pt;  
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px #64ddff93;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.textfield > textarea {
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    color: #4682B4;
    font-size: 12pt;  
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px #64ddff93;
    outline: none;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 20px;
}
.textfield > label{
    color: #4682B4;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #4682B4;
}
.btn-login{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
    background: #5BC7E4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #C0F2F7;
}

.footer {
    display: flex;
    position: relative;
    width: 100%;
    background: #8ee4f1;
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-footer,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.icons-footer li,
.menu li{
    list-style: none;
}

.icons-footer li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

.menu li a:hover{
    opacity: 1;
}

footer p{ 
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.onda{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/onda-footer.png);
    background-size: 1000px 100px;
}

.onda#onda{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateOnda 4s linear infinite;
}

.onda#onda2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateOnda2 4s linear infinite;
}

.onda#onda3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateOnda 3s linear infinite;
}

.onda#onda4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateOnda2 3s linear infinite;
}

@keyframes animateOnda{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateOnda2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

.icons-footer li a:hover{
    transform: translateY(-10px);
}
  
@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #4cc1e1;
    border-radius: 5px;
}

html, body {
    overflow-x: hidden;
}